<footer
	class="footer-2 container-max section-space-top position-relative z-1 overflow-hidden"
>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="footer-2__container section-space-lg-y px-4 px-sm-8 px-xl-12 px-xxl-15 bg-body bg-opacity-40 border border-light border-opacity-10"
				>
					<div class="row g-4">
						<div class="col-md-7 col-lg-4">
							<div class="pe-xxl-10">
								<a class="logo d-inline-flex mb-6" href="index.html">
									<img
										src="{{root}}assets/img/logo-dark.png"
										alt="image"
										class="logo__img logo__img--light"
									/>
									<img
										src="{{root}}assets/img/logo-light.png"
										alt="image"
										class="logo__img logo__img--dark"
									/>
								</a>
								<p class="mb-8">
									Giving modern marketing teams superpowers with short
									links that stand
								</p>
								<div
									class="d-flex align-items-center flex-wrap gap-3 mb-6"
								>
									<div
										class="d-flex align-items-center gap-2 py-3 px-2 rounded bg-body shadow"
									>
										<img
											src="{{root}}assets/img/certificate-img-1.png"
											alt="image"
											class="img-fluid flex-shrink-0"
										/>
										<div class="flex-grow-1">
											<ul
												class="list list-row gap-1 align-items-center lh-1"
											>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
											</ul>
											<p class="mb-0 fs-14 fw-medium">
												Capterra admit
											</p>
										</div>
									</div>
									<div
										class="d-flex align-items-center gap-2 py-3 px-2 rounded bg-body shadow"
									>
										<img
											src="{{root}}assets/img/certificate-img-2.png"
											alt="image"
											class="img-fluid flex-shrink-0"
										/>
										<div class="flex-grow-1">
											<ul
												class="list list-row gap-1 align-items-center lh-1"
											>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
												<li>
													<iconify-icon
														icon="mingcute:star-fill"
														class="fs-14 text-warning"
													></iconify-icon>
												</li>
											</ul>
											<p class="mb-0 fs-14 fw-medium">
												Honored by G2
											</p>
										</div>
									</div>
								</div>
								<div
									class="d-flex justify-content-between align-items-center gap-4 py-2 px-4 bg-body rounded shadow"
								>
									<div class="d-flex align-items-center gap-2">
										<img
											src="{{root}}assets/img/avatar-6.png"
											alt="image"
											class="img-fluid flex-shrink-0"
										/>
										<div class="flex-grow-1">
											<span class="d-block fw-medium fs-14">
												Get
												<span class="text-primary">35% off</span>
												for the whole ✨ year
											</span>
										</div>
									</div>
									<a
										href="{{root}}pricing.html"
										class="link d-inline-block text-primary flex-shrink-0"
									>
										<iconify-icon
											icon="line-md:arrow-right"
											class="fs-20"
										></iconify-icon>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="row g-4 justify-content-xxl-around">
								<div class="col-sm-6 col-md-3 col-xxl-3">
									<h6 class="mb-6">Product</h6>
									<ul class="list gap-2">
										<li>
											<a
												href="{{root}}index.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												AI Technology
											</a>
										</li>
										<li>
											<a
												href="{{root}}home-2.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												AI Chat Support
											</a>
										</li>
										<li>
											<a
												href="{{root}}home-3.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												AI Code Generator
											</a>
										</li>
										<li>
											<a
												href="{{root}}home-4.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												AI Image Generator
											</a>
										</li>
										<li>
											<a
												href="{{root}}home-5.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												AI Developer Ast.
											</a>
										</li>
										<li>
											<a
												href="{{root}}home-6.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												AI Video Generator
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6 col-md-3 col-xxl-3">
									<h6 class="mb-6">Company</h6>
									<ul class="list gap-2">
										<li>
											<a
												href="{{root}}about.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												About Us
											</a>
										</li>
										<li>
											<a
												href="{{root}}career.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Career Opportunity
											</a>
										</li>
										<li>
											<a
												href="{{root}}case-study.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Case Study
											</a>
										</li>
										<li>
											<a
												href="{{root}}contact.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Contact Us
											</a>
										</li>
										<li>
											<a
												href="{{root}}portfolio.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Portfolio
											</a>
										</li>
										<li>
											<a
												href="{{root}}pricing.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Pricing
											</a>
										</li>
										<li>
											<a
												href="{{root}}service.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Service
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6 col-md-3 col-xxl-2">
									<h6 class="mb-6">Pages</h6>
									<ul class="list gap-2">
										<li>
											<a
												href="{{root}}blog-1.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Blog
											</a>
										</li>
										<li>
											<a
												href="{{root}}blog-2.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Modern Blog
											</a>
										</li>
										<li>
											<a
												href="{{root}}faq.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												FAQ
											</a>
										</li>
										<li>
											<a
												href="{{root}}sign-in-1.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Sign In
											</a>
										</li>
										<li>
											<a
												href="{{root}}sign-up-1.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Sign Up
											</a>
										</li>
										<li>
											<a
												href="{{root}}event-details.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Event
											</a>
										</li>
										<li>
											<a
												href="{{root}}privacy-policy.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Privacy Policy
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6 col-md-3 col-xxl-3">
									<h6 class="mb-6">Elements</h6>
									<ul class="list gap-2">
										<li>
											<a
												href="{{root}}block-page-about.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												About
											</a>
										</li>
										<li>
											<a
												href="{{root}}block-page-blog.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Blog
											</a>
										</li>
										<li>
											<a
												href="{{root}}block-page-cta.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Call to Action
											</a>
										</li>
										<li>
											<a
												href="{{root}}block-page-testimonial.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Testimonial
											</a>
										</li>
										<li>
											<a
												href="{{root}}block-page-fact.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Info List
											</a>
										</li>
										<li>
											<a
												href="{{root}}block-page-feature.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Feature
											</a>
										</li>
										<li>
											<a
												href="{{root}}block-page-hero.html"
												class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
											>
												Hero
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="section-space-md-top">
								<ul
									class="list list-row list-dot list-dot--md list-dot--secondary-emphasis flex-wrap align-items-center justify-content-center"
								>
									<li>
										<span class="d-inline-block fs-14">
											&copy; 2025 NextAi
										</span>
									</li>
									<li>
										<a
											href="{{root}}privacy-policy.html"
											class="link d-inline-block text-body hover:text-primary fs-14"
										>
											Terms of Use
										</a>
									</li>
									<li>
										<a
											href="{{root}}privacy-policy.html"
											class="link d-inline-block text-body hover:text-primary fs-14"
										>
											Security
										</a>
									</li>
									<li>
										<a
											href="{{root}}privacy-policy.html"
											class="link d-inline-block text-body hover:text-primary fs-14"
										>
											Privacy Policy
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<svg
		width="816"
		height="616"
		viewBox="0 0 816 616"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="position-absolute top-0 start-0 z-n1 pointer-none"
	>
		<g filter="url(#filter0_f_10068_777)">
			<path
				d="M125.847 11.8444C107.014 -24.0114 84.4717 -103.643 38.4746 -110.489C-0.017915 -116.218 -10.2607 -2.76055 43.0576 100.521C171.664 305.212 284.779 330.576 388.07 345.949C491.361 361.322 543.664 315.572 548.476 283.235C553.289 250.899 529.027 200.25 361.023 175.245C193.02 150.241 144.679 47.7002 125.847 11.8444Z"
				fill="#00C4FD"
				fill-opacity="0.4"
			/>
		</g>
		<defs>
			<filter
				id="filter0_f_10068_777"
				x="-260.362"
				y="-377.364"
				width="1076.05"
				height="993.048"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"
				/>
				<feGaussianBlur
					stdDeviation="133.333"
					result="effect1_foregroundBlur_10068_777"
				/>
			</filter>
		</defs>
	</svg>
	<svg
		width="950"
		height="669"
		viewBox="0 0 950 669"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="position-absolute top-0 end-0 z-n1 pointer-none"
	>
		<g filter="url(#filter0_f_10068_778)">
			<path
				d="M724.978 110.138C748.883 77.4456 782.903 2 829.407 2C868.323 2 861.752 115.729 793.81 210.036C636.472 393.564 520.855 402 416.426 402C311.998 402 267 349.048 267 316.356C267 283.663 298.454 237.138 468.309 237.138C638.162 237.138 701.072 142.831 724.978 110.138Z"
				fill="#6328FF"
				fill-opacity="0.5"
			/>
		</g>
		<defs>
			<filter
				id="filter0_f_10068_778"
				x="0.333405"
				y="-264.667"
				width="1119.59"
				height="933.333"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"
				/>
				<feGaussianBlur
					stdDeviation="133.333"
					result="effect1_foregroundBlur_10068_778"
				/>
			</filter>
		</defs>
	</svg>
</footer>
