<footer class="footer-1 bg-dark position-relative z-1 rounded-start-start-4 rounded-start-end-4 overflow-hidden">
    <div class="section-space-y text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7 col-xxl-6">
                    <h3 class="text-light">
                        Craft a Standout Website With AI Template
                    </h3>
                    <p class="mb-8 text-light max-text-11 mx-auto">
                        A single license includes free support, free lifetime updates, free plugins and all the features
                        listed above.
                    </p>
                    <a href="#" class="btn btn-lg btn-primary text-dark align-items-center">
                        <span class="d-inline-block fs-16 fw-semibold flex-grow-1">
                            Explore Demo
                        </span>
                        <iconify-icon icon="solar:confetti-minimalistic-bold-duotone"
                            class="align-middle fs-24 flex-shrink-0"></iconify-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-space-md-bottom text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-8">
                    <div class="d-flex align-items-center justify-content-center gap-6 flex-wrap">
                        <span class="d-inline-block text-light fw-semibold">
                            Powered by
                        </span>
                        <img src="{{root}}assets/img/logo-light.png" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1335" height="672" viewBox="0 0 1335 672" fill="none"
        class="position-absolute start-50 top-50 translate-middle z-n1 pointer-none">
        <g filter="url(#filter0_f_6026_9053)">
            <path
                d="M874.175 104.173C904.146 63.307 946.797 -31 1005.1 -31C1053.89 -31 1045.65 111.162 960.472 229.045C763.214 458.456 618.263 469 487.339 469C356.415 469 300 402.811 300 361.945C300 321.079 339.434 262.922 552.385 262.922C765.333 262.922 844.204 145.039 874.175 104.173Z"
                fill="#6328FF" fill-opacity="0.25" />
        </g>
        <defs>
            <filter id="filter0_f_6026_9053" x="0" y="-331" width="1335" height="1100" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_6026_9053" />
            </filter>
        </defs>
    </svg>
    <img src="{{root}}assets/img/footer-1-img-1.png" alt="image"
        class="img-fluid position-absolute top-15 start-20 z-n1 pointer-none d-none d-xl-block">
    <img src="{{root}}assets/img/footer-1-img-2.png" alt="image"
        class="img-fluid position-absolute top-15 end-20 z-n1 pointer-none d-none d-xl-block">
    <img src="{{root}}assets/img/footer-1-img-3.png" alt="image"
        class="img-fluid position-absolute bottom-0 start-0 z-n1 pointer-none d-none d-xl-block">
    <img src="{{root}}assets/img/footer-1-img-4.png" alt="image"
        class="img-fluid position-absolute bottom-0 end-0 z-n1 pointer-none d-none d-xl-block">
</footer>