<div class="section-space-top footer-3">
	<div class="section-space-lg-y">
		<div class="container">
			<div class="row g-4 justify-content-xxl-between">
				<div class="col-md-6 col-lg-4 col-xxl-3">
					<div class="p-4 p-sm-6 p-md-8 bg-light bg-opacity-5 rounded-4">
						<h6 class="mb-2 fs-20 text-light">NewsLetter</h6>
						<p class="mb-6 fs-14 text-light text-opacity-60">
							Subscribe now and stay up-to-date
						</p>
						<div
							class="d-flex align-items-center border border-light border-opacity-10 bg-light bg-opacity-5 p-2 rounded max-text-11"
						>
							<input
								type="text"
								class="form-control form-control-sm bg-transparent border-0 placeholder::text-light text-light"
								placeholder="Enter your email"
							/>
							<button
								type="button"
								class="btn btn-sm bg-gradient-1 border-0 text-light rounded-1 flex-shrink-0"
							>
								Generate
							</button>
						</div>
						<span class="d-block fs-12 text-light text-opacity-60 mt-3">
							We don't spam your inbox
						</span>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row g-4 justify-content-xl-around">
						<div class="col-sm-6 col-md-3">
							<h6 class="fs-18 fw-semibold text-light">Product</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}index.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Technology
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-2.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Chat Support
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-3.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Code Generator
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-4.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Image Generator
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-5.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Developer Ast
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-6.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Video Generator
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3">
							<h6 class="fs-18 fw-semibold text-light">Company</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}about.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										About Us
									</a>
								</li>
								<li>
									<a
										href="{{root}}career.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Career Opportunity
									</a>
								</li>
								<li>
									<a
										href="{{root}}case-study.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Case Study
									</a>
								</li>
								<li>
									<a
										href="{{root}}contact.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Contact Us
									</a>
								</li>
								<li>
									<a
										href="{{root}}portfolio.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Portfolio
									</a>
								</li>
								<li>
									<a
										href="{{root}}pricing.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Pricing
									</a>
								</li>
								<li>
									<a
										href="{{root}}service.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Service
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3">
							<h6 class="fs-18 fw-semibold text-light">Pages</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}blog-1.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Blog
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Modern Blog
									</a>
								</li>
								<li>
									<a
										href="{{root}}faq.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										FAQ
									</a>
								</li>
								<li>
									<a
										href="{{root}}sign-in-1.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Sign In
									</a>
								</li>
								<li>
									<a
										href="{{root}}sign-up-1.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Sign Up
									</a>
								</li>
								<li>
									<a
										href="{{root}}event-details.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Event
									</a>
								</li>
								<li>
									<a
										href="{{root}}privacy-policy.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Privacy Policy
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3">
							<h6 class="fs-18 fw-semibold text-light">Elements</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}block-page-about.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										About
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-blog.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Blog
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-cta.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Call to Action
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-testimonial.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Testimonial
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-fact.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Info List
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-feature.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Feature
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-hero.html"
										class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
									>
										Hero
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-xsm-y border-top border-light border-opacity-10"
				>
					<div class="row g-4 align-items-center">
						<div class="col-md-5">
							<p
								class="mb-0 fs-14 text-light text-opacity-60 text-center text-md-start"
							>
								&copy; 2025 NextAi, All Rights Reserved.
							</p>
						</div>
						<div class="col-md-2">
							<div class="text-center">
								<a class="logo" href="index.html">
									<img
										src="{{root}}assets/img/{{logo-light}}"
										alt="image"
										class="logo__img logo__img--light"
									/>
									<img
										src="{{root}}assets/img/{{logo-dark}}"
										alt="image"
										class="logo__img logo__img--dark"
									/>
								</a>
							</div>
						</div>
						<div class="col-md-5">
							<ul
								class="list list-row gap-3 flex-wrap justify-content-center justify-content-md-end align-items-center"
							>
								<li>
									<button
										type="button"
										class="btn btn-icon btn-dark-emphasis rounded-circle"
									>
										<iconify-icon icon="mdi:twitter"></iconify-icon>
									</button>
								</li>
								<li>
									<button
										type="button"
										class="btn btn-icon btn-dark-emphasis rounded-circle"
									>
										<iconify-icon
											icon="ic:baseline-facebook"
										></iconify-icon>
									</button>
								</li>
								<li>
									<button
										type="button"
										class="btn btn-icon btn-dark-emphasis rounded-circle"
									>
										<iconify-icon
											icon="akar-icons:linkedin-fill"
										></iconify-icon>
									</button>
								</li>
								<li>
									<button
										type="button"
										class="btn btn-icon btn-dark-emphasis rounded-circle"
									>
										<iconify-icon
											icon="hugeicons:instagram"
										></iconify-icon>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
